<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form method="POST" action="{% url 'SignUp' %}">
        {% csrf_token %}
        <input type="email" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="password" required>
        <input type="tel" name="contact number" placeholder="contact number" required>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>